body{
    margin:0;
    padding:0;
    background:#0d0d0d;
    color:white;
    font-family:Arial,Helvetica,sans-serif;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

#splash,
#dateScreen{
    width:95%;
    max-width:500px;
    text-align:center;
}

#logo{
    width:180px;
    margin-bottom:20px;
}

h1{
    color:#47F5F5;
    font-size:32px;
    margin:10px 0;
}

h2{
    color:white;
}

p{
    color:#cccccc;
}

input{
    width:90%;
    padding:15px;
    font-size:22px;
    border:none;
    border-radius:12px;
    text-align:center;
    margin-top:20px;
}

button{
    margin-top:25px;
    width:70px;
    height:70px;
    border:none;
    border-radius:50%;
    background:#47F5F5;
    color:black;
    font-size:34px;
    cursor:pointer;
    font-weight:bold;
}

button:hover{
    transform:scale(1.05);
}
/* ==========================
   Converter Page Layout
========================== */

#converterPage{
    width:95%;
    max-width:900px;
    margin:auto;
    text-align:center;
}

.textareas{
    display:flex;
    gap:15px;
    margin:25px 0;
}

.textareas textarea{
    width:50%;
    min-height:260px;
    resize:vertical;
    padding:15px;
    font-size:20px;
    border-radius:12px;
    border:none;
    outline:none;
    box-sizing:border-box;
}

.buttons{
    display:flex;
    justify-content:center;
    gap:20px;
    flex-wrap:wrap;
}

.buttons button{
    width:110px;
    height:110px;
    border-radius:50%;
    font-size:24px;
    font-weight:bold;
}

/* Mobile */

@media(max-width:700px){

.textareas{
    flex-direction:column;
}

.textareas textarea{
    width:100%;
    min-height:220px;
}

.buttons button{
    width:95px;
    height:95px;
    font-size:22px;
}

}
